*body{
    margin: 0 auto;
    width:100% auto;
    padding:30px;
    text-align: end;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}
h1{
  font-size: 100px;
  margin: 5px 30%;
  color: #ffffff;
}
li{
  margin-bottom: 0.5rem;
}
h2{
  color: red;
  margin: 1px 30%;
  font-size: 30px;
}
ul{
  margin: 50px 30%;
  color:hwb(0 100% 0%);
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-left: 10px 10%;
}
.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 1000;
    font-style: normal;
  }
  #myDiv{
    background-color: hwb(0 0% 100%);
  }
  .links{
    color:#ffffff;
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    font-family: "Amatic SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
  .login{
    margin-left: 5%;
    font-size: 25px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
  .menu{
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    font-family: "Amatic SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
  p{
    border-width: 4px;
    border-color: rgb(223, 8, 8);
    background-color: hsl(0, 1%, 47%);}
  table{
    font-size: 10px;
  }

  .header-container{
    color:hwb(0 100% 0%);
    background-color:#A99E9E;
    display: flex;
    justify-content: center;}
.header{
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  /*...*/
  align-items: center; /*Add this*/
}
.photo-grid-container{
  display: flex;
  justify-content:space-between;
  align-self: auto;
  object-fit: contain;
}
.photo-grid{
  width: 0px;
  display: flex;
  /*...*/
  flex-wrap: wrap;
}
.photo-grid-item{
  border: 5px solid hsla(86, 50%, 60%, 0.525);
  width: 3px;
}